:root {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    transition: 0.2s linear;
    font-family: "Roboto", sans-serif;
}

html {
    scroll-behavior: smooth;
}

/* Body */
body {
    background: linear-gradient(rgba(0, 0, 0, 0.75),
            rgba(0, 0, 0, 0.75)),
        url(../assets/imgs/img3.jpg);

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    min-height: 100vh;
    color: white;
    overflow-x: hidden;
}

/* Header */
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;

    background-color: rgb(172, 1, 1);
    border-bottom: 3px solid white;
    box-shadow: 0 0 20px black;
}

/* Conteúdo da header */
.header section {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 1rem 5%;
}

/* Logo da header */
.header img {
    width: 75px;
    display: block;
}

/* Navbar */
.navbar {
    display: flex;
    align-items: center;
    gap: 3rem;
}

/* Links */
.navbar a {
    font-size: 1.2rem;
    color: white;
    font-weight: bold;
    position: relative;
}

/* Hover dos links */
.navbar a:hover {
    color: black;
}

/* Linha animada */
.navbar a::after {
    content: "";
    position: absolute;

    left: 0;
    bottom: -5px;

    width: 0%;
    height: 2px;

    background: black;
    transition: 0.3s;
}

.navbar a:hover::after {
    width: 100%;
}

/* Botão */
.btn-nav {
    padding: 10px 22px;
    border-radius: 12px;

    border: 2px solid white;

    background: linear-gradient(to right,
            rgb(170, 0, 0),
            rgb(70, 0, 0));

    color: white;
    font-weight: bold;

    box-shadow: 0 0 15px rgba(255, 0, 0, 0.5);
}

/* Hover botão */
.btn-nav:hover {
    background: white;
    color: red;

    border: 2px solid red;

    transform: scale(1.08);

    box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
}

/* Login */
.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Card do Login */
.card-login {
    background: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(5px);
    width: 380px;
    padding: 40px;
    border-radius: 20px;
    border-top: 5px solid red;
    border-bottom: 5px solid white;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.8);
    text-align: center;
}

.card-login h2 {
    font-size: 3.8rem;
    margin-bottom: 30px;
    color: white;
}

/* Formulario */
.formulario {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.campo {
    display: flex;
    flex-direction: column;
    text-align: left;
     font-size: 1.8rem;
}

.campo span {
    margin-bottom: 8px;
    font-weight: bold;
    color: white;
}

.campo input {
    padding: 14px;
    border: none;
    border-radius: 10px;
    outline: none;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    font-size: 1rem;
    border: 2px solid transparent;
}

.campo input::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

.campo input:focus {
    border: 2px solid red;
    transform: scale(1.02);
}

/* Botão */
.botao {
    margin-top: 15px;
    padding: 14px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(to right, red, darkred);
    color: white;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 0 15px rgba(255, 0, 0, 0.5);
}

.botao:hover {
    background: white;
    color: red;
    transform: scale(1.05);
}

/* Erro */
.alerta_erro {
    position: fixed;
    top: 100px;
    right: 20px;
    z-index: 999;
    width: 280px;
}

.card_erro {
    display: none;
    background-color: rgba(255, 0, 0, 0.2);
    border: 2px solid red;
    color: white;
    padding: 10px 14px;
    border-radius: 8px;
    text-align: center;
    font-size: 1.3rem;
}

/* footer */
.footer {
    background: rgb(10, 10, 10);
    border-top: 3px solid red;
    margin-top: 10rem;
    padding: 3rem;
    text-align: center;
}

.footer h4 {
    font-size: 1.5rem;
    font-weight: normal;
    color: white;
}

.footer span {
    color: red;
    font-weight: bold;
}